/* Load custom fonts */
@font-face {
  font-family: 'CustomRegular';
  src: url('reg.otf') format('opentype');
}

@font-face {
  font-family: 'CustomBold';
  src: url('bold.otf') format('opentype');
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  color: #fff;
  font-family: 'CustomRegular';
}

.circular-display {
  position: relative;
  width: 440px;
  height: 440px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.blur-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(30px);
  background-size: cover;
  background-position: center;
  z-index: 1;
  transition: opacity 0.3s ease;
  opacity: 0.6;
}

.progress-circle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transform: rotate(-90deg);
}

.progress-circle circle {
  fill: none;
  stroke-width: 5;
  opacity: 0.3;
}

#progress {
  stroke: white;
  stroke-dasharray: 1288;
  stroke-dashoffset: 1288;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.1s linear;
}

.content {
  text-align: center;
  z-index: 3;
  transition: opacity 0.3s ease;
  font-family: 'CustomBold';
  padding: 20px; /* Square padding inside the circle */
  box-sizing: border-box; /* Include padding in total width/height */
}

#album-cover {
  width: 210px;
  height: 210px;
  border-radius: 5px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

#time-display h2, #time-display p {
  font-family: 'CustomRegular'; /* Change to regular font */
  margin: 0;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7); /* Add drop shadow */
}

#current-time {
  font-size: 2.5rem;
  font-family: 'CustomBold'; /* Keep bold for time */
  padding: 0 20px; /* Add padding to prevent overflow */
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7); /* Add drop shadow */
}

#current-day {
  font-size: 1.2rem;
  color: #ccc;
  font-family: 'CustomRegular'; /* Regular for date */
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7); /* Add drop shadow */
}

#song-title {
  padding: 0 20px; /* Add side padding */
  margin-bottom: 5px; /* Reduce bottom margin */
  text-shadow: 2px 0px 5px rgba(0, 0, 0, 0.7); /* Add drop shadow */
}

#artist-name {
  font-family: 'CustomRegular'; /* Regular for artist name */
  text-shadow: 2px 0px 5px rgba(0, 0, 0, 0.7); /* Add drop shadow */
}
