@font-face {
  font-family: 'CustomRegular';
  src: url('reg.otf') format('opentype');
}

@font-face {
  font-family: 'CustomBold';
  src: url('bold.otf') format('opentype');
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  font-family: 'CustomRegular', Arial, sans-serif;
  color: #fff;
}

.circular-display {
  position: relative;
  width: 640px;
  height: 640px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.blur-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(30px);
  background-size: cover;
  background-position: center;
  z-index: 1;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.clock-bg {
  background-color: #fff;
}

.progress-circle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transform: rotate(-90deg);
}

.progress-circle circle {
  fill: none;
  stroke-width: 5;
  opacity: 0.3;
}

#progress {
  stroke: white;
  stroke-dasharray: 1913;
  stroke-dashoffset: 1913;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.1s linear;
}

.content {
  text-align: center;
  z-index: 3;
  transition: opacity 0.3s ease;
}

#album-cover {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

#song-title {
  font-family: 'CustomBold', Arial, sans-serif;
  padding: 0 30px; /* Prevents overflow */
}

#artist-name {
  font-family: 'CustomRegular', Arial, sans-serif;
  margin-top: -5px; /* Reduces bottom padding */
}

#current-time, #song-title {
  font-family: 'CustomBold', Arial, sans-serif;
  font-size: 4rem;
  color: black;
}

#current-day, #artist-name {
  font-family: 'CustomRegular', Arial, sans-serif;
  color: #777;
  margin-top: 5px;
}

.hidden {
  display: none;
}
