body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#app {
    position: relative;
    width: 360px; /* Match Kraken Elite 360 dimensions */
    height: 360px;
}

#album-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(''); /* Placeholder for album cover */
    background-size: cover;
    filter: blur(20px);
    border-radius: 50%; /* Make it circular */
}

#circle {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%; /* Make it circular */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#now-playing {
    position: absolute;
    text-align: center;
    z-index: 1;
}

#song-title {
    font-size: 1.5em; /* Adjust for Kraken size */
    color: white;
}

#artist-name {
    font-size: 1em; /* Adjust for Kraken size */
    color: grey;
}

#no-song {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#clock {
    font-size: 2em;
}

#progress-bar {
    position: absolute;
    bottom: 0; /* Position at the bottom */
    left: 0;
    height: 5px; /* Height of the progress bar */
    width: 100%;
    background-color: white;
    transition: width 0.1s ease-in-out;
}
